html{
    font-family:  Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
    font-family: Georgia, serif;
}

table{
    border-collapse: collapse;
}

td, th{
    border: 1px solid gray;
}

table>thead>tr{
    font-weight: bold;
    background-color: gray;
    text-align: left;
}

table>thead>tr th{
    width: 400px;

}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

blockquote{
    border-left:2px solid rgb(221, 221, 221);
    font-style: italic;

/* font-size: 50px;
  text-transform:uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 5px solid #66e4b4;
  display:inline-flex; */
}

blockquote p{
    padding-left: 20px;
}

blockquote p:nth-child(3){
    text-align: right;
}