@import "https://use.fontawesome.com/releases/v5.15.4/css/all.css";

:root {
    --btn-color: #370511;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Global */
.btn {
    all: unset;
    border-radius: 26px;
    text-align: center;
    max-width: 160px;
    padding: 4px 16px;
    background: transparent;
    border: 1px solid black;
}

.btn.btn-primary {
    color: white;
    background-color: var(--btn-color);
    border: 1px solid var(--btn-color);
}

.btn.btn-secondary {
    padding: 12px 28px;
    font-weight: bold;
}

/* Header */

.header-section {
    max-width: 100%;
    position: relative;
    height: 750px;
    overflow: hidden;
}

.background-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    top: -200px;
}



.header-section header {
    display: flex;
    flex-direction: column;
    padding: 32px 17%;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 180px;
}

.nav-container .logo {
    font-size: 32px;
    font-weight: bold;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    font-size: 18px;
}

.navigation ul li {
    display: inline;
}

.navigation ul li a {
    text-decoration: none;
    color: black;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 45%;
    gap: 48px;
}

.intro .intro-title {
    font-weight: bold;
    font-size: 50px;
}

.intro .intro-subtitle {
    font-size: 28px;
    font-weight: 500;
}

.intro .intro-desc {
    font-size: 20px;
}

/* Places */

.famous-places .places-intro-text {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.famous-places .places-intro-text h2 {
    font-weight: bold;
    font-size: 42px;
}

.famous-places .places-intro-text p {
    color: grey;
    font-weight: normal;
    font-size: 24px;
}

.cards {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
    padding: 32px 17%;
}

.cards .card {
    overflow: hidden;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 64px;
}

.cards .card .card-pic {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.cards .card .place-name {
    font-weight: bold;
    font-size: 32px;
}

.cards .card .place-desc {
    font-weight: normal;
    font-size: 18px;
    padding: 0 24px;
}

/* Footer */
footer .logo-footer {
    font-size: 40px;
    font-weight: bold;
}

footer {
    padding: 36px 17%;
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
    height: 300px;
}

.footer-navs {
    display: flex;
    gap: 32px;
    flex-basis: 50%;
}

.nav-footer {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    height: 100%;
    padding: 0;
}

.nav-footer li {
    /* padding-left: 20%; */

}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-footer li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.social-list {
    display: flex;
    gap: 14px;
    padding: 0;
}

.social-media i {
    font-size: 32px;
}