@media screen and (max-width: 600px) {
    .container {
        max-width: 500px;
        text-align: center;
    }


    .container-fluid.hero img {
        display: none;
    }

    .navbar.navbar-expand-lg.navbar-light {
        justify-content: center;
    }

    .navbar-light .navbar-brand {
        margin-right: 0;
    }

    .hero h1 {
        margin-top: 100px;
    }


    .hero-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }
    
    .hero-btns a:first-child {
        padding-left: 72px;
        padding-right: 72px;
    }

    .hero-btns a:last-child {
        font-size: 1rem;
    }


    .col-sm-6 {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: left;
    }

    .about .container .row .col-12.col-sm-12.col-lg-6:nth-child(2){
        margin-top: 100px;
    }

    #contact-us .col-12 .hero-btns.contact-btn{
        display: none;
    }

    footer .container {
        display: flex;
        justify-content: center;
    }

    footer .row {
        justify-content: center;
        max-width: 70%;
    }

    footer .col-12{
        /* max-width: 50%; */
    }

    .contact-nav li{
        display: block;
    }
}